:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --background-color: #404040;
    --text-color: #212529;
    --card-bg: #212529;
    --form-bg: #1c2024;
    --table-bg: #333333;
}
    