{% extends "teamlead/teamleadsidebar.html" %}
{% load static %}

{% block title %}Work Management{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'dm_head/css/colour.css' %}">
<link rel="stylesheet" href="{% static 'teamlead/css/teamleadwork.css' %}">
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

    <!-- Work Allocate -->
    <div class="col">
      <div class="card card-common">
        <a href="{% url 'allocate_work_page' %}" class="text-decoration-none text-white d-flex flex-column justify-content-around h-100">
          <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <h5 class="mb-0">Work Allocate</h5>
            <i class="fas fa-tasks text-success"></i>
          </div>
          <p>Assign task or projects to specific individuals</p>
        </a>
      </div>
    </div>

    <!-- Pending Works -->
    <div class="col">
      <div class="card card-common">
        <a href="#" class="text-decoration-none text-white d-flex flex-column justify-content-around h-100">
          <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <h5 class="mb-0">Pending Works</h5>
            <i class="fas fa-hourglass-half text-warning"></i>
          </div>
          <p>Work that are yet to be require further attention</p>
        </a>
      </div>
    </div>

    <!-- Work Progress -->
    <div class="col">
      <div class="card card-common">
        <a href="#" class="text-decoration-none text-white d-flex flex-column justify-content-around h-100">
          <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <h5 class="mb-0">Work Progress</h5>
            <i class="fas fa-chart-line text-info"></i>
          </div>
          <p>Track and monitor development of tasks</p>
        </a>
      </div>
    </div>

    <!-- Completed Works -->
    <div class="col">
      <div class="card card-common">
        <a href="#" class="text-decoration-none text-white d-flex flex-column justify-content-around h-100">
          <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <h5 class="mb-0">Completed Works</h5>
            <i class="fas fa-check-circle text-success"></i>
          </div>
          <p>Access works that have been successfully finished</p>
        </a>
      </div>
    </div>

    <!-- Individual Works -->
    <div class="col">
      <div class="card card-common">
        <a href="#" class="text-decoration-none text-white d-flex flex-column justify-content-around h-100">
          <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <h5 class="mb-0">Individual Works</h5>
            <i class="fas fa-user-cog text-primary"></i>
          </div>
          <p>Access works that have been successfully finished</p>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
